services:
  db:
    image: postgres:17-alpine
    container_name: heatsphere-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: cguib00m.
      POSTGRES_DB: heat_sphere_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 7

  api:
    build:
      context: .
      dockerfile: backend/HeatSphere.Api/Dockerfile
    container_name: heatsphere-api
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings:DefaultConnection: "Host=db;Port=5432;Database=heat_sphere_db;Username=postgres;Password=cguib00m." # connection string for PostgreSQL
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: heatsphere-frontend
    environment:
      VITE_API_PROXY_TARGET: http://api:8080
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/index.html:/app/index.html
    depends_on:
      - api

volumes:
  pgdata: # persistent volume for PostgreSQL data
